:root {
    //colors
    --primary_color: #264353;
    --secondary_color: #2A9D8F;
    --light_color: #E9C46A;
    --warning_color: #F4A261;
    --danger_color: #E76F51;
    //containers
    --cont_sd: 75rem;
    --cont_small: 31.25rem;
}